{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

{{ form_start(form) }}
    {% for field in form %}
        {{ form_widget(field) }}
    {% endfor %}
{{ form_end(form) }}

{% if (section-1) > 0 %}
<a href="{{ path('app_profile_edit', {'section': (section-1)}) }}">Section précédente</a>
{% endif %}
{% if (section+1) < 6 %}
<a href="{{ path('app_profile_edit', {'section': (section+1)}) }}">Section suivante</a>
{% endif %}

</div>
{% endblock %}
